<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container" class="image-container">
     <img src ="assets/console.png" width="100px" class="center-image">
     <h2>What We Play</h2><br>
     <img src ="assets/about-us.png" width="100px" class="center-image">
    <h2>Who We Are</h2><br>
    <img src ="assets/calendar.png" width="100px" class="center-image">
  <h2>Our Schedule</h2>
  </div>
  <!-- <div id="container" class="image-container">
    <img src ="assets/about-us.png" width="100px" class="center-image"><br>
    <h2>Who We Are</h2>
 </div>
 <div id="container" class="image-container">
  <img src ="assets/calendar.png" width="100px" class="center-image"><br>
  <h2>Our Schedule</h2>
</div> -->
</ion-content>
