  .imagecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
  }

  .circlecontainer{
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin-bottom: 10px; 
    transition: background-color 0.3s ease;
    background-color: #272f7a;
  }

  #container{
    margin-top: 100px;
  }

  .router{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    width: auto;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .router:hover .circlecontainer,
  .router:active .circlecontainer  {
    background-color: #838abd;
  }

  .router:hover .imagesize,
  .router:active .imagesize {
    transform: scale(1.1);
    max-width: 100%;     
    transition: transform 0.5s ease;
  }
  .router:hover h2, .router:active h2{
    color: #6793cb ;
    transform: scale(1.1);
    transition: transform 0.5s ease, color 0.5s ease;
  }
