<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  size="medium">Home</ion-title>
    <ion-buttons slot="end">
      <ion-buttons style="padding-right: 10px">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Home</ion-title>
    </ion-toolbar>
    
  </ion-header>

  <div id="container" class="image-container">
    <div class="router" [routerLink]="['/home/whatweplay']">
      <div class= "circle-container">
        <img src ="assets/game-console.png" width="80px" class="center-image">
      </div>
       <h2>What We Play</h2>
    </div>

    <div class="router" [routerLink]="['/home/whoweare']">
      <div class ="circle-container" >
        <img src ="assets/team.png" width="80px" class="center-image">
       </div>
       <h2>Who We Are</h2><br>
    </div>

    <div class="router" [routerLink]="['/home/ourschedule']">
      <div class="circle-container">
        <img src ="assets/calendars.png" width="80px" class="center-image">
       </div>
        <h2>Our Schedule</h2>
    </div>
  </div>
</ion-content>
