<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title> {{selectedgameName}} Achievement</ion-title>
      <ion-buttons slot="end">
        <ion-buttons style="padding-right: 10px">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-buttons>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{selectedgameName}} achievement</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-img [src]="gameimage"></ion-img>

    <ion-item>
      <h2>{{selectedgameName}}</h2>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-select label="Year" [(ngModel)]="selectedyear" label-placement ="floating" fill="outline" (ionChange) ="filtereAchievement()">
          <ion-select-option value="1">All</ion-select-option>
          <ion-select-option *ngFor="let year of array_year" [value]="year">{{year}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  <ion-list>
    <h4>{{selectedgameName}}'s Achievement</h4>
    <ion-item *ngFor="let achievement of chooseAchievement; let i = index">
      <ion-label> {{i + 1}}. {{achievement.name}}({{achievement.year}}) - {{achievement.team_name}}</ion-label>
    </ion-item>
  </ion-list>


  <ion-list *ngIf="selectedyear === 0"> <!-- Kondisi untuk menampilkan jika All dipilih dan tidak ada data -->
    <ion-item>
      <ion-label>Please Select Year to view Achievements</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="chooseAchievement.length === 0 &&  selectedyear > 1">
    <ion-item>
      <ion-label>No Achivement in this year</ion-label>
    </ion-item>
  </ion-list>

  </div>
</ion-content>
