<ion-app>
  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-tabs>
    <ion-menu auto-hide="true" contentId="main">

      <ion-header>
        <ion-toolbar>
          <ion-title>Menu List</ion-title>
        </ion-toolbar>
      </ion-header>  
      <ion-content class="ion-padding">
        <ion-list>
          <ion-menu-toggle>
            <ion-item routerLink="/home">
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="/home/whatweplay">
              <ion-icon name="game-controller-outline" slot="start"></ion-icon>
              <ion-label>What We play</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="/home/whoweare">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>              <ion-label>Who We Are</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="/home/ourschedule">
              <ion-icon name="calendar-outline" slot="start"></ion-icon>
              <ion-label>Our Schedule</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
  </ion-menu>
  </ion-tabs>
</ion-app>
