.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Membuat container mengambil tinggi penuh */
  }
  
  .container h2 {
    text-align: center;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .button-container {
    margin-top: auto; /* Memastikan tombol berada di bawah */
    display: flex;
    justify-content: flex-end; /* Menempatkan tombol di sisi kanan */
  }
  
  .button2 {
    width: 100px;
    height: 50px;
  }
  