<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>What We Play</ion-title>
    <ion-buttons slot="end">
      <ion-buttons style="padding-right: 10px">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>What We Play</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-card>
      <img src="assets/valo.jpg">
      <ion-card-header>
        <ion-card-title>Valorant</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Valorant is a tactical first-person shooter developed by Riot Games. It combines precise gunplay with a unique set of character abilities, where each agent has special skills that impact gameplay. Players engage in fast-paced, strategic, team-based matches, working together to complete objectives or eliminate the enemy. 
      </ion-card-content>
      <div class="buttoncontainer">
        <ion-button size="small" fill="outline" shape="round" class="buttonAchieve">Achievement</ion-button>
        <ion-button size="small" fill="outline" shape="round" class="buttonteam">Teams</ion-button>
      </div>
    </ion-card>

    <ion-card>
      <img src="assets/mobilelegend.jpeg">
      <ion-card-header>
        <ion-card-title>Mobile Legend</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Mobile Legends: Bang Bang is a multiplayer online battle arena (MOBA) game designed for mobile devices. It features fast-paced 5v5 team battles where players choose from a variety of heroes, each with unique abilities, to battle for control of the map. The goal is to destroy the enemy's base while defending your own. With a large roster of heroes and short match times, Mobile Legends is popular among gamers seeking competitive, quick, and action-packed matches.
      </ion-card-content>
      <div class="buttoncontainer">
        <ion-button size="small" fill="outline" shape="round" class="buttonAchieve">Achievement</ion-button>
        <ion-button size="small" fill="outline" shape="round" class="buttonteam">Teams</ion-button>
      </div>
    </ion-card>

    <ion-card>
      <img src="assets/pubg.jpg">
      <ion-card-header>
        <ion-card-title>PUBG</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        PUBG is a battle royale game developed by PUBG Corporation, a subsidiary of Bluehole. In PUBG, up to 100 players parachute onto an island, scavenging for weapons, armor, and equipment to be the last person or team standing. The game’s map shrinks over time, forcing players into closer encounters. With its realistic graphics, tense survival gameplay, and multiple game modes, PUBG has become one of the most popular battle royale games globally.
      </ion-card-content>
      <div class="buttoncontainer">
        <ion-button size="small" fill="outline" shape="round" class="buttonAchieve">Achievement</ion-button>
        <ion-button size="small" fill="outline" shape="round" class="buttonteam">Teams</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
